<!DOCTYPE html>
html#html(style='font-size: 22px;')
	head#head
		title Learn all languages
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		//- link(href='bootstrap.css' rel='stylesheet' type='text/css')
		//- link(href='style.css' rel='stylesheet' type='text/css')
		style
			include ../Build/bootstrap.min.css
			include ../Build/style.css
		base(target="_blank")
	body.Theme_dark#full_screen(allowfullscreen)
		include header
		include body

	//- script(defer src="audio.js")
	//- script(defer src="code.js")
	//- script(defer src="script.js")

	script
		include ../Build/audio.js
	script
		include ../Build/code.js
	script
		include ../Build/script.js

	script(src=" http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46 ")